body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.btn1 {
    background-color: #8a2432;
    border: 0px solid;
    height: 50px;
    width: 123px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #fff !important;
}
.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.menu-ul li {
    text-align: right;
    margin: 3% 0% 7% 0%;
    animation: fadeInRight 1s 0.1s;
}
.element {
    position: fixed;
    background: #151515;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: #FFF;
    animation: fadeInDown 0.5s;
}
.elm {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 199;
}
.hideButton {
    background-color: #fff;
    box-shadow: 3px 2px 3px 2px rgba(221, 221, 221, 0.77), 7px 3px 7px 3px rgba(221, 221, 221, 0.37);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 7%;
	border: none;
}
.menu-a {
    color: #FFF !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 23px;
}
.btn1:hover { 
    background-color: black;
}
.navbar-brand {
    position: relative;
    left: 100px;
}
.navbar{
    width: 100%;
    padding-right: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000000;
}
.navbar-scroll {
	background: #ffffff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
    padding-right: 30px;
    
}
.menu {
    background-color: #fff;
    box-shadow: 3px 2px 3px 2px rgba(221, 221, 221, 0.77), 7px 3px 7px 3px rgba(221, 221, 221, 0.37);
    width: 50px;
    height: 50px; 
    display: flex;
    position: absolute;
    left: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 14px;
	border: none;
}
.hidden {
    display:none;
}
.dash {
    background: #6c6f70;
    border: none;
    height: 2.7px;
    width: 33px;
    margin-bottom: 5px;
    transition: all .35s ease;
    cursor: pointer;
}
.dash2 {
    background: #6c6f70;
    border: none;
    height: 3.3px;
    width: 33px;
    margin-bottom: 5px;
    transition: all .35s ease;
    cursor: pointer;
}
.dash1 {
    background: #6c6f70;
    border: none;
    height: 3px;
    width: 33px;
    margin-bottom: 5px;
    transition: all .35s ease;
    cursor: pointer;
}

.elments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0% 5% 15%;
}
.logo {
    justify-content: center;
    align-items: center;
    padding: 7% 5% 5% 5%;
}
.menu1 {
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid #d3d3d3;
    padding: 2% 5% 2% 5%;
    margin-right: 5%;
}
.close {
    position: absolute;
    right: 2px;
    top: 9px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.nav {
    list-style: none;
    float: left;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 70px;
}
.nav1 {
    list-style: none;
    float: left;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 40px;
    border-right: 1px solid #d3d3d3 ;
    margin-right: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
}
.nav-item {
    float: left;
    margin-right: 10px;
    position: relative;
}
.language {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #212529 !important;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase !important;
    
    display: block;
    padding: 5px;
    text-decoration: none !important;
}
.language:hover {
    color: #8a2432 !important;
    text-decoration: none !important;
}
#one:hover #one1 {
    animation: fadeInUp 0.5s;
    display: block;
  animation-fill-mode: forwards; 
}
#two:hover  #two2 {
    animation: fadeInUp 0.5s;
    display: block;

  animation-fill-mode: forwards; 
}
#three:hover  #three3 {
    animation: fadeInUp 0.5s;
    display: block;

  animation-fill-mode: forwards; 
}
#four:hover  #four4 {
    animation: fadeInUp 0.5s;
    display: block;

  animation-fill-mode: forwards; 
}
#five:hover  #five5 {
    animation: fadeInUp 0.5s;
    display: block;

  animation-fill-mode: forwards; 
}
#six:hover  #six6 {
    animation: fadeInUp 0.5s;
    display: block;

  animation-fill-mode: forwards; 
}
#siven:hover  #siven7 {
    animation: fadeInUp 0.5s;
    display: block;

  animation-fill-mode: forwards; 
}
.language1 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #212529 !important;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase !important;
    
    display: block;
    padding: 5px;
    text-decoration: none !important;
}
.language1:hover {
    color: #8a2432 !important;
    text-decoration: none !important;
}
.nav-ul {
    list-style: none;
    position: absolute;
    opacity: 0;
    display: none;
    border: 1px solid #d3d3d3;
    width: 200px;
}
.ul-item {
    padding: 7px;
    float: none;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    margin: 0px;
}
.nav-ul a {
    text-decoration: none;
    white-space: nowrap;
    color: black !important;
    font-size: 11px;
    padding: 5px 20px;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-fill-mode: forwards; 
}
.carousel1 {
    position: relative;
    top: 160px;
}
.carousel-inner {
    height: 700px;
}
.carousel-item {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.d-block {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel-item iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title1 {
    position: relative;
    bottom: 10%;
    left: 3%;
    font-size: 20px;
}
.slider {
    width: 93%;
    margin: 100px auto;
}
.date-bar-container {
    text-align: center;
    clear: both;
    position: relative;
    top: 140px;
}
.row1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    line-height: 1.5;
    color: #495057;
}
.form-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.form-control {
    border-radius: 0px;
    border: 1px solid #f5f5f6;
}
.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 47%;
}
.btn2 {
    background-color: #8a2432;
    border: 0px solid;
    height: 39px;
    width: 100%;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: #fff !important;
}
.btn2:hover { 
    background-color: black;
}
.btn3 {
    background-color: #8a2432;
    border: 0px solid;
    width: 100%;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: #fff !important;
    padding: 10px;
}
.btn3:hover { 
    background-color: black;
    text-decoration: none;
}
.date-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
    box-shadow: 0px 6px 18px rgba(221, 221, 221, 0.77);
    height: 70px;
    padding-top: 15px;
}
.holder {
    position: relative;
    top: 200px;
    overflow: hidden;
}
.hotel {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.overView {
    display: flex;
    align-items: center;
}
@keyframes zoom-box-img {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
      transform: scale3d(1, 1, 1);
    }

}
.zoom-box-img :hover {
    animation: zoom-box-img 1.5s;
}
.zoom-box-img {
    box-shadow: 0px 6px 18px rgba(221, 221, 221, 0.77);
}
.zoom-box {
    overflow: hidden;
    box-shadow: 3px 2px 3px 2px rgba(221, 221, 221, 0.77), 7px 3px 7px 3px rgba(221, 221, 221, 0.37);
}
.img {
    height: 100%;
    text-align: center;
    width: 100%;
}
.rooms {
    margin-top: 10%;
}
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.x {
    margin-bottom: 5.5%;
}
.more {
    margin-top: 3%;
}
.carousel-control-prev {
    background-color: rgba(138, 36, 50) !important;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 86%;
    top: 91%;
    opacity: 1 !important;
}
.carousel-control-next {
    background-color: rgba(138, 36, 50) !important;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 91%;
    right: 4%;
    opacity: 1 !important;
}
.rest-bars {
    width: 100%;
    overflow: hidden;
}
.bg-img {
    width: 120%;
    position: absolute;
    right: -450px;
}
.row2 {
    padding-top: 7%;
    margin-bottom: 7%;
}
.Something {
    margin-top: 7%;
}
.enjoyed {
    background-color: #fff;
    padding: 0% 0% 27% 0%;
    box-shadow: 3px 2px 3px 2px rgba(221, 221, 221, 0.77), 7px 3px 7px 3px rgba(221, 221, 221, 0.37);
}
.have-u {
    margin-top: 8%;
}
.pos {
    position: absolute;
    left: 77%;
    top: 82%;
}
.offers {
    margin-bottom: 10%;
}
.insta-a {
    color: #8a2432 !important;
    text-decoration: underline !important;
    font-size: 18px;
}
.help {
    background-color: #f8f9fa;
    text-align: center;
    color: #243342;
    padding: 7% 0% 7% 0%;
}
.kalam {
    font-weight: 400;
}
.title {
    font-weight: 900;
}
.help-insta {
    margin: 4% 0% 4% 0%;
}
/* date animation */
@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}
.zoomIn {
animation-name: zoomIn;
}



@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}
  
  

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}
  
.imgCon {
    margin-right: 0.1%;
    margin-left: 0.2%;
    background-color: crimson;
}


.footer {
    background-color: #f5f5f5;
    padding: 2% 0 0 0;
}
.row3 {
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0 2% 0;
}
.copy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2.5% 0% 0.5% 0%;
    font-size: 14px;
}
.resort-a {
    text-decoration: none !important;
    margin-left: 5%;
    color: #323232;
}
.resort-a :hover {
    text-decoration: none !important;
    color: #8a2432 !important;
}
.h33 {
    color: #8a2432;
    font-size: 19px;
    margin-top: 7%; 
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}
.h-ul {
    font-size: 14px;
    color: #323232;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.h-ul li {
    text-decoration: none;
}
.uli-a {
    color: #212529;
    text-decoration: none;
    font-size: 14px;
}
.uli-a :hover{
    color: #8a2432 !important;
    text-decoration: none !important;
}